.checkoutProduct {
     display: flex;
     margin-top: 20px;
     margin-bottom: 20px;
}
.checkoutProduct__info {
     padding-left: 20px;
}
.checkoutProduct__info > button {
     /* background-color: lightgray; */
     /* border: 1px solid; */
     border: none;
     margin-top: 10px;
     border-color: #a88734 #927e31 #7e6527;
     color: #111;
}
.checkoutProduct__image {
     object-fit: contain;
     width: 180px;
     height: 180px;
     /* max-height: 400px;
     width: 100%;
     object-fit: contain;
     margin-top: 15px;
     margin-bottom: 15px; */
}
.checkoutProduct__rating {
     display: flex;
}
.checkoutProduct__title {
     font-size: 17px;
     font-weight: 800px;
}
